<div style="position: fixed; bottom: 0; right: 0">
    {{ "thumbs-up.png" | asset_url | img_tag }}
</div>
{% schema %}
  {
    "name": "Floating Image",
    "target": "body",
    "settings": []
  }
{% endschema %}